@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$red: #EF5455;
$yellow: #FAD744;
$blue: #2B3252;
$light-grey: #C4C4C4;
$black: #000000;

$light-weight: 300;
$normal-weight: 400;
$heavy-weight: 700;
$italic: italic;
$base-font-size: 16px;


$body-font: 'Georama',
sans-serif;

// breakpoints
$sm-phone: 280px;
$md-phone: 375px;
$lg-phone: 400px;
$tablet: 768px;
$laptop: 1224px;
$desktop: 1920px;

html, body  {
    font-family: $body-font;
}

h2  {
    font-size: clamp(1.75rem, 2.5vw, 2.5rem); 
}

h3  {
    font-size: clamp(1.4rem, 2.2vw, 2.5rem);
}

p, a   {
    font-size: clamp(1.2rem, 2vw, 2.5rem);
}

// li  {
//     @include responsive('sm-phone'){
//         font-size: clamp(1.2rem, 2vw, 2.5rem);
//     }
// }