@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$red: #EF5455;
$yellow: #FAD744;
$blue: #2B3252;
$light-grey: #C4C4C4;
$black: #000000;
$light-weight: 300;
$normal-weight: 400;
$heavy-weight: 700;
$italic: italic;
$base-font-size: 16px;


$body-font: 'Georama',
sans-serif;

// breakpoints
$sm-phone: 375px;
$lg-phone: 376px;
$tablet: 768px;
$laptop: 1224px;
$desktop: 1920px;

body    {
    font-family: $body-font;
    // @include fluid-typography(16,24,300,1500);
}

p   {
    font-weight: $normal-weight;
}