@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
html, body {
  font-family: "Georama", sans-serif; }

h2 {
  font-size: clamp(1.75rem, 2.5vw, 2.5rem); }

h3 {
  font-size: clamp(1.4rem, 2.2vw, 2.5rem); }

p, a {
  font-size: clamp(1rem, 2vw, 2.5rem); }

/* Style Resets */
* {
  margin: 0;
  padding: 0; }
  *::before, *::after {
    box-sizing: inherit; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  font-size: inherit; }

ul {
  list-style: none; }

.is-flex,
.is-flex--row,
.is-flex--column,
.is-flex--container,
.card-banner {
  display: flex; }
  .is-flex--row {
    flex-direction: row; }
  .is-flex--column {
    flex-direction: column; }
  .is-flex--container {
    margin: 0 auto;
    position: relative;
    width: auto;
    height: inherit;
    padding: 1%; }

.justify-start {
  justify-content: start; }

.justify-center,
.card-banner {
  justify-content: center; }

.justify-end {
  justify-content: end; }

.align-items--center {
  align-items: center; }

.icon,
.icon__social-media {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #EF5455; }
  @media (max-width: 375px) and (orientation: portrait) {
    .icon,
    .icon__social-media {
      font-size: 3em;
      width: 5vw;
      height: 5vh; } }

.icon__social-media {
  background: #FAD744;
  color: #2B3252;
  margin-right: 2%;
  text-align: center; }
  @media (max-width: 375px) and (orientation: portrait) {
    .icon__social-media {
      padding: 1%;
      font-size: 1em;
      width: 6vw;
      height: 3vh; } }

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  height: inherit;
  padding: 1%; }

.container__one-column {
  width: 80%;
  margin: auto;
  background-color: #C4C4C4; }
  @media (max-width: 375px) and (orientation: portrait) {
    .container__one-column {
      width: 100%; } }

.top-bar {
  padding: 0.5%;
  background-color: #2B3252; }
  @media (max-width: 375px) and (orientation: portrait) {
    .top-bar {
      font-size: 16px; } }

.header {
  background: #EF5455; }
  @media (max-width: 375px) and (orientation: portrait) {
    .header .container {
      flex-direction: column;
      padding: 4%; } }

.header-title {
  flex-grow: 1;
  color: #2B3252; }
  @media (max-width: 375px) and (orientation: portrait) {
    .header-title {
      text-align: center; } }

#toggle {
  cursor: pointer;
  font-weight: 700; }
  @media (max-width: 375px) and (orientation: portrait) {
    #toggle {
      margin: 2vh 0vh 2vh 1vh;
      border: 1px solid yellow;
      padding: 2vh; } }
  #toggle:focus, #toggle:hover {
    background-color: #FAD744;
    color: #2B3252; }

.nav-menu {
  display: none; }
  @media (max-width: 375px) and (orientation: portrait) {
    .nav-menu {
      font-size: 1.375rem; } }
  .nav-menu-is-active {
    display: flex;
    flex-direction: column;
    font-weight: 700; }

.nav-item {
  padding: 0.5rem; }
  .nav-item:hover {
    background-color: #FAD744;
    color: #2B3252;
    padding: 1%; }
  .nav-item:focus {
    background-color: #FAD744;
    color: #2B3252;
    padding: 1%; }
  .nav-item:active {
    background-color: #FAD744;
    color: #2B3252;
    padding: 1%; }
  .nav-item:first-child {
    margin-top: 4%; }

.nav-link {
  color: #2B3252; }

.header {
  background: #EF5455; }
  @media (max-width: 375px) and (orientation: portrait) {
    .header .container {
      flex-direction: column;
      padding: 4%; } }

.header-title {
  flex-grow: 1;
  color: #2B3252; }
  @media (max-width: 375px) and (orientation: portrait) {
    .header-title {
      text-align: center; } }

.card {
  background-color: #FAD744;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto; }
  @media (max-width: 375px) and (orientation: portrait) {
    .card {
      gap: 1rem;
      margin: 8%;
      padding: 8%;
      border-radius: 15px;
      box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5); } }

.card-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 15px 0 0; }
  @media (max-width: 375px) and (orientation: portrait) {
    .card-banner {
      height: 10vh; } }

.card-body {
  margin: 2%; }

.card-body-title {
  text-align: center; }

.card-body-content {
  text-align: left; }
  @media (max-width: 375px) and (orientation: portrait) {
    .card-body-content {
      text-align: center;
      padding: 2%;
      font-weight: 300; } }

.card-body-link {
  color: #2B3252; }

.button,
.button--bg__blue,
.button--bg__red,
.button--bg__yellow {
  padding: 4%;
  text-decoration: none;
  border: none;
  border-radius: 5px; }
  .button--is-round {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 375px) and (orientation: portrait) {
      .button--is-round {
        width: 40vw;
        height: 18vh; } }
  .button--bg__blue {
    background-color: #2B3252;
    color: #EF5455; }
  .button--bg__red {
    background-color: #EF5455;
    color: #2B3252; }
  .button--bg__yellow {
    background-color: #FAD744;
    color: #2B3252; }

.article-title {
  text-align: center;
  padding: 4%; }

.article-content {
  text-align: center;
  padding: 4%; }

.slider {
  display: flex;
  flex-direction: row;
  margin: auto; }

.slide-container {
  height: 30vh;
  background-color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.slide-item {
  padding: 5%; }

.slide-content-header {
  color: #EF5455; }

.slide-content-body {
  color: #2B3252;
  font-weight: 300; }
  @media (max-width: 375px) and (orientation: portrait) {
    .slide-content-body {
      padding: 2%; } }

.reviews {
  height: auto; }
  @media (max-width: 375px) and (orientation: portrait) {
    .reviews {
      padding: 4%; } }

.footer {
  background-color: #FAD744; }
  @media (max-width: 375px) and (orientation: portrait) {
    .footer .container {
      flex-direction: column;
      padding: 4%; } }

.footer-title {
  flex-grow: 1;
  color: #2B3252; }
  @media (max-width: 375px) and (orientation: portrait) {
    .footer-title {
      display: none; } }

#comprehensive-services {
  background-color: #2B3252;
  padding: 4%; }

#information-links .button--is-round {
  background-color: #EF5455; }

@media (max-width: 375px) and (orientation: portrait) {
  #information-links .container {
    margin-bottom: 4%; } }

#information-links .icon {
  color: #FAD744; }

#locations {
  background-color: #2B3252;
  color: #EF5455; }
  @media (max-width: 375px) and (orientation: portrait) {
    #locations .container {
      margin: 4%; } }

#service-cards button:hover {
  background-color: #EF5455;
  color: #2B3252; }

#service-cards button:focus {
  background-color: #EF5455;
  color: #2B3252; }

#service-cards button:active {
  background-color: #2B3252;
  color: #FAD744; }
