@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  font-family: "Georama", sans-serif; }

p {
  font-weight: 400; }

body {
  margin: 0%;
  padding: 0%; }

.is-flex,
.container {
  display: flex; }

.justify-center {
  justify-content: center; }

.justify-end {
  justify-content: end; }

.icon {
  background: #FAD744; }

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto; }

.top-bar,
.top-bar__social-media {
  padding: 0.5%;
  background-color: #2B3252;
  display: flex; }
  .top-bar__social-media {
    text-align: end;
    justify-content: end; }

.header {
  background: #EF5455;
  height: 15vh; }
