@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  font-family: "Georama", sans-serif; }

p {
  font-weight: 400; }

/* Style Resets */
* {
  margin: 0;
  padding: 0; }
  *::before, *::after {
    box-sizing: inherit; }

img {
  max-width: 100%; }

html, body {
  font-family: "Georama", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.is-flex,
.is-flex--row,
.is-flex--column,
.is-flex--row__is-centered,
.is-flex--column__is-centered,
.card-banner {
  display: flex; }
  .is-flex--row {
    flex-direction: row; }
  .is-flex--column {
    flex-direction: column; }
  .is-flex--row__is-centered {
    justify-content: center; }
  .is-flex--column__is-centered {
    justify-content: center; }

.justify-start {
  justify-content: start; }

.justify-center,
.card-banner {
  justify-content: center; }

.justify-end {
  justify-content: end; }

.align-items--center {
  align-items: center; }

.icon {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vh;
  border-radius: 50%;
  color: #EF5455; }
  @media (max-width: 375px) and (orientation: portrait) {
    .icon {
      font-size: 10vh; } }

.icon__social-media {
  background: #FAD744;
  margin-right: 2%;
  border-radius: 50%;
  text-align: center; }

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  height: inherit; }

.top-bar {
  padding: 0.5%;
  background-color: #2B3252; }
  @media (max-width: 375px) and (orientation: portrait) {
    .top-bar {
      font-size: 16px; } }

.header {
  background: #EF5455;
  height: 15vh; }
  @media (max-width: 375px) and (orientation: portrait) {
    .header .container {
      flex-direction: column; } }

.header-title {
  flex-grow: 1; }
  @media (max-width: 375px) and (orientation: portrait) {
    .header-title {
      text-align: center; } }

.navbar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  background: #EF5455; }
  @media (min-width: 768px) and (orientation: portrait) {
    .navbar {
      font-size: larger;
      font-weight: 700; } }

.nav-menu {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around; }
  @media (max-width: 375px) and (orientation: portrait) {
    .nav-menu {
      gap: 5%;
      font-weight: 700; } }

.nav-link {
  color: #2B3252; }

.header {
  background: #EF5455;
  height: 15vh; }
  @media (max-width: 375px) and (orientation: portrait) {
    .header .container {
      flex-direction: column; } }

.header-title {
  flex-grow: 1; }
  @media (max-width: 375px) and (orientation: portrait) {
    .header-title {
      text-align: center; } }

.card {
  background: #FAD744;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 375px) and (orientation: portrait) {
    .card {
      width: 90vw;
      height: 45vh;
      border-radius: 15px;
      box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5); } }

.card-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 15px 0 0; }
  @media (max-width: 375px) and (orientation: portrait) {
    .card-banner {
      height: 16vh; } }

.card-body {
  margin: 2%; }

.card-body-title {
  text-align: center; }

.card-body-content {
  text-align: left; }
  @media (max-width: 375px) and (orientation: portrait) {
    .card-body-content {
      text-align: center; } }

.bttn-jelly.bttn-primary {
  background: #FAD744;
  color: #fff; }
