/* Style Resets */
*   {
    margin: 0;
    padding: 0;

    &::before, &::after{
        box-sizing: inherit;
    }
    
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-size: inherit;   
}

ul  {
    list-style: none;
}