@use '../abstract/variables';
@use '../abstract/mixins';

#comprehensive-services {
    background-color: variables.$blue;
    padding: 4%;

    @include mixins.responsive('tablet'){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @include mixins.responsive('laptop', 'landscape'){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}