#information-links  {
    
    .button--is-round {
        background-color: $red;
    }

    .container  {
        @include responsive('sm-phone'){
            margin-bottom: 4%;
        }

    }

    .icon   {
        color: $yellow;
    }
}