@use '../abstract/variables';
@use '../abstract/mixins';

#locations  {
    background-color: variables.$blue;
    color: variables.$red;
    flex-direction: column;
    @include mixins.responsive('tablet'){
        flex-direction: row;
    }
    @include mixins.responsive('laptop','landscape'){
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .container  {
        @include mixins.responsive('sm-phone'){
            margin: 4%;
        }
        @include mixins.responsive('laptop','landscape'){
            display: flex;
            justify-content: center;
        }        
    }
}