@use '../abstract/mixins';

.sales-pitch   {
    .container__one-column {
        @include mixins.responsive('tablet'){
            width: 80%;
            border-radius: 15px;
            margin: 10%;
        }
        @include mixins.responsive('laptop', 'landscape'){
            width: 80%;
            border-radius: 15px;
            margin: 10%; 
        }
    }
}