@use '../abstract/mixins';

#service-cards {
    flex-direction: column;
    @include mixins.responsive('tablet'){
        flex-direction: row;
        margin: 2% 2% 4% 2%;
    }
    @include mixins.responsive('laptop', 'landscape'){
        flex-direction: row;
        margin: 2% 2% 4% 2%;
    }

    button {
        &:hover{
            @include mixins.button-state('red');
        
        }
        
        &:focus{
            @include mixins.button-state('red');
        
        }
        
        &:active{
            @include mixins.button-state('inverse-yellow');
        
        }
    }
}

