// dependencies: _mixins.scss
.button,
%button {
    padding: 4%;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    @include responsive('sm-phone'){
        padding: 8%;
    }

    &--is-round {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include responsive('sm-phone'){
            width: 40vw;
            height: 15vh;
        }
    }

    &--bg__blue{
        @extend %button;
        @include button-state('blue');
    }

    &--bg__red{
        @extend %button;
        @include button-state('red');
    }

    &--bg__yellow{
        @extend %button;
        @include button-state('yellow');
    }

}