.button,
%button {
    padding: 4%;
    // background: $blue;
    // color: $red;
    text-decoration: none;
    border: none;
    border-radius: 5px;

    &--is-round {
        // @extend .button
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include responsive('sm-phone'){
            width: 40vw;
            height: 18vh;
        }
    }

    &--bg__blue{
        @extend %button;
        @include button-state('blue');
    }

    &--bg__red{
        @extend %button;
        @include button-state('red');
    }

    &--bg__yellow{
        @extend %button;
        @include button-state('yellow');
    }

}