// dependencies: _mixins.scss
@use '../abstract/variables';
@use '../abstract/mixins';
.card,
%card  {
    background-color: $yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    @include mixins.responsive('sm-phone'){
        gap: 1rem;
        margin: 8%;
        padding: 8%;
        border-radius: 15px;
        box-shadow: 0px 1rem 1.5rem rgba(black, 0.5);
    }
    @include mixins.responsive('tablet'){
        gap: 0rem;
        margin: 2%;
        padding: 2%;
    }

    @include mixins.responsive('laptop', 'landscape'){
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        gap: 1rem;
        margin: 2%;
        padding: 2%;
        border-radius: 15px;
        box-shadow: 0px 1rem 1.5rem rgba(black, 0.5);
    }
}

.card-banner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    border-radius: 15px 15px 0 0;
    height: auto;
    // these extend statements probably need to be reviewed.
    @extend %is-flex;
	@extend %justify-center;
    @include mixins.responsive('laptop', 'landscape'){
        display: flex;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px 15px 0 0;
        height: auto;
    }	
}

.card-body  {
    margin: 2%;
}

.card-body-title    {
    text-align: center;
}

.card-body-content  {
    text-align: left;
    @include mixins.responsive('sm-phone'){
        text-align: center;
        padding: 2%;
        font-weight: variables.$light-weight;
    }
    @include mixins.responsive('laptop', 'landscape'){
        text-align: center;
        padding: 2%;
        font-weight: variables.$light-weight;
    }
}

.card-body-link {
    color: variables.$blue;
}
