// dependencies: _mixins.scss
@use '../abstract/variables';
@use '../abstract/mixins';

.container,
%container
 {
	flex-grow: 1;
	margin: 0 auto;
	position: relative;
	width: auto;
	height: inherit;
	padding: 1%;
  }

.container__one-column	{
	width: 80%;
	margin: auto;
	background-color: variables.$light-grey;
	@include mixins.responsive('sm-phone'){
		width: 100%;
	}

}