.container,
%container
 {
	flex-grow: 1;
	margin: 0 auto;
	position: relative;
	width: auto;
	height: inherit;
  }

.container__one-column	{
	width: 80%;
	margin: auto;
	background-color: $light-grey;
	@include responsive('sm-phone'){
		width: 100%;
	}
}