.footer,
%footer
{
    background-color: $yellow;
}

.footer-title   {
    flex-grow: 1;
    color: $blue;
    @include responsive('sm-phone'){
        display: none;
    }
}

.footer-navbar  {
    
}

.footer-nav-menu {
	display: flex;
	justify-content: space-around;
    font-weight: $heavy-weight;
    @include responsive('sm-phone'){
        font-size: 0.8rem;
    };
    @include responsive('lg-phone') {
        font-size: 1em;
    }
}

.footer-nav-item   {
    padding: 0.5rem;
    &:hover{
        @include button-state('red');
    }

    &:focus{
        @include button-state('red');
    }
    &:active{
        @include button-state('red');
    }
}