@use '../abstract/variables';
@use '../abstract/mixins';

.footer,
%footer
{
    background-color: variables.$yellow;
}

.footer-title   {
    flex-grow: 1;
    color: variables.$blue;
    @include mixins.responsive('sm-phone'){
        display: none;
    }
    @include mixins.responsive('laptop', 'landscape'){
        display: none;
    }
}

// .footer-navbar  {
    
// }

.footer-nav-menu {
	display: flex;
	justify-content: space-around;
    font-weight: variables.$heavy-weight;
    @include mixins.responsive('sm-phone'){
        font-size: 0.8rem;
    };
    @include mixins.responsive('lg-phone') {
        font-size: 1em;
    }
    @include mixins.responsive('tablet'){
        font-size: 1.6em;
    }
    @include mixins.responsive('laptop', 'landscape'){
        font-size: 1.6em;
    }
}

.footer-nav-item   {
    padding: 0.5rem;
    &:hover{
        @include mixins.responsive('red');
    }

    &:focus{
        @include mixins.button-state('red');
    }
    &:active{
        @include mixins.button-state('red');
    }
}