.header {
    background: $red;
    height: 15vh;

    @include responsive('sm-phone'){
        .container{
            @include flex-direction('column');
        }
        
    }
}

.header-title   {
    flex-grow: 1;
    color: $blue;
    @include responsive('sm-phone'){
        text-align: center;
    }
}