@use '../abstract/variables';
@use '../abstract/mixins';
.header {
    background: variables.$red;
    // height: 15vh;

    @include mixins.responsive('sm-phone'){
        .container{
            // we may need to just remove this statement
            @include mixins.flex-direction('column');
            padding: 4%;
        }
    }
    @include mixins.responsive('tablet'){
        .container  {
            flex-direction: row;
            padding: 4%;
        }

    }
}

.header-title   {
    flex-grow: 1;
    color: variables.$blue;
    @include mixins.responsive('sm-phone'){
        text-align: center;
    }
    @include mixins.responsive('tablet'){
        text-align: left;
    }
}