@use '../abstract/variables';
@use '../abstract/mixins';

.icon,
%icon   {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: variables.$red;
    @include mixins.responsive('sm-phone'){
        font-size: 3em;
        width: 5vw;
        height: 5vh;
    }
    @include mixins.responsive('laptop', 'landscape'){
        font-size: 3em;
        width: 5vw;
        height: 5vh;
    }
}

.icon__social-media{
    @extend %icon;
    background: variables.$yellow;
    color: $blue;
    margin-right: 2%;
    text-align: center;
    @include mixins.responsive('sm-phone'){
        font-size: 0.8em;
        width: 8vw;
        height: 3vh;
    }
    @include mixins.responsive('md-phone'){
        width: 6vw;
    }
    @include mixins.responsive('lg-phone'){
        font-size: 1.3em;
        width: 9vw;
        height: 4vh;
    }
    @include mixins.responsive('tablet'){
        font-size: 1.5em;
        width: 5vw;
        height: 4vh;
    }
    @include mixins.responsive('laptop', 'landscape'){
        font-size: 1.5em;
        width: 4vw;
        height: 6vh;
    }
    
}