// .icon  {
//     background: $yellow;
//     margin-right: 2%;
//     border-radius: 50%;
//     text-align: center;
// }
.icon,
%icon   {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $red;
    @include responsive('sm-phone'){
        font-size: 3em;
        width: 5vw;
        height: 5vh;
    }
}

.icon__social-media{
    @extend %icon;
    background: $yellow;
    color: $blue;
    margin-right: 2%;
    text-align: center;
    @include responsive('sm-phone'){
        font-size: 0.8em;
        width: 8vw;
        height: 3vh;
    }
    @include responsive('md-phone'){
        width: 6vw;
    }
    @include responsive('lg-phone'){
        font-size: 1em;
        width: 7vw;
        height: 4vh;
    }
}
