.is-flex,
%is-flex    {
    display: flex;

    &--row,
    &%--row{
        @extend %is-flex;
        @include flex-direction('row');
    }

    &--column,
    &%--column{
        @extend %is-flex;
        @include flex-direction('column');

    }

    &--container{
        @extend %is-flex;
        margin: 0 auto;
        position: relative;
        width: auto;
        height: inherit;
        padding: 1%;
    }
}

.justify-start,
%justify-start{
    @include justify('start');
}

.justify-center,
%justify-center{
    @include justify('center');
}

.justify-end,
%justify-end{
    @include justify('end');
}

.justify-space-around,
%justify-space-around
{
    @include justify('space around');
}

.justify-between,
%justify-between
{
    @include justify('space between');
}

.align-items--center{
    @include align-items('center');
}

