// $breakpoint variables are imported from the _config.scss partial file, they are considered global variables

@mixin responsive($breakpoint, $orientation: portrait){
    @if ($breakpoint == 'sm-phone') {
        @media (min-width: $sm-phone) and (orientation: $orientation) { @content };
    }
    @if ($breakpoint == 'lg-phone') {
        @media (min-width: $lg-phone ) and (orientation: $orientation) { @content };
    }
    @if ($breakpoint == 'tablet') {
        @media (min-width: $tablet) and (orientation: $orientation) { @content };
    }
    @if ($breakpoint == 'laptop') {
        @media (min-width: $laptop) and (orientation: $orientation) { @content };
    }
    @if ($breakpoint == 'desktop') {
        @media (min-width: $desktop) { @content };
    }
}

@mixin justify($position) {
    @if $position == 'start' {
        justify-content: start;
    }
    @if $position == 'center' {
        justify-content: center;
    }
    @if $position == 'end' {
        justify-content: end;
    }
    @if $position == 'space-around'{
        justify-content: space-around;
    }
    @if $position == 'space-between'{
        justify-content: space-between;
    }
}

@mixin align-items($alignment) {
    @if $alignment == 'baseline'{
        align-items: baseline;
    }
    @if $alignment == 'center' {
        align-items: center;
    }
    @if $alignment == 'end' {
        align-items: flex-end;        
    }
    @if $alignment == 'start' {
        align-items: flex-start;        
    }
    
}

@mixin align-content($content) {
    @if $content == 'baseline'{
        align-items: baseline;
    }
    @if $content == 'center' {
        align-content: center;
    }
    @if $content == 'end' {
        align-content: flex-end;        
    }
    @if $content == 'start' {
        align-content: flex-start;        
    }
    @if $content == 'space-around' {
        align-content: space-around;        
    }
    @if $content == 'space-between' {
        align-content: space-between;        
    }
    
}

// @mixin align-items($alignment){
//     @if $alignment == {}
// }

@mixin flex-direction($direction) {
    @if $direction == 'row' {
        flex-direction: row;
    }
    @if $direction == 'column' {
        flex-direction:column;
    }
}

@mixin button-state($background) {
    @if $background == 'blue' {
        background-color: $blue;
        color: $red;
    }
    @if $background == 'red'   {
        background-color: $red;
        color: $blue;
    }
    @if $background == 'yellow' {
        background-color: $yellow;
        color: $blue;
    }
    @if $background == 'inverse-yellow'{
        background-color: $blue;
        color: $yellow;
    }
}