.navbar,
%navbar {
    display: flex;
    flex-grow: 1;
    @include align-items('center');
    // background: $red;
    @include responsive('sm-phone'){
        font-weight: $heavy-weight;
    };    
}

.nav-menu,
%nav-menu  {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    @include justify('space-around');
    @include responsive('sm-phone'){
        padding-top: 4%;
        gap: 4%;
        font-weight: $heavy-weight;
    } 
}

.nav-link   {
    color: $blue;
    &:hover{
        @include button-state('blue');
        padding: 1%;
    }

    &:focus{
        @include button-state('blue');
        padding: 1%;
    }
    &:active{
        @include button-state('yellow');
        padding: 1%;
    }
}