.navbar,
%navbar {
    display: flex;
    flex-grow: 1;
    @include align-items('center');
    background: $red;
    color: $blue;
    @include responsive('tablet'){
        font-size: larger;
        font-weight: $heavy-weight;
    };    
}

.nav-menu,
%nav-menu  {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    @include justify('space-around');
    @include responsive('sm-phone'){
        gap: 5%;
        font-weight: $heavy-weight;
    } 
}