// make sure to install tiny-slider in order to implement the js component
.reviews    {
    height: 250px;
}

// The actual slider container (set height, layout here)
.slider {
    display: flex;
    flex-direction: row;
    margin: auto;
}

// The slides themeselves so here we will setup what they look like (set height, color, background, alignment, etc.)
.slide-container {
	height: 30vh;
	background-color: #fff;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// Style the actual slide content, could be font, images, etc.
.slide-item {
    // color: $black;
    padding: 5%;
}

.slide-content-header   {
    color: $red;
}

.slide-content-body {
    color: $blue;
    font-weight: $light-weight;
}


