@use '../abstract/variables';
@use '../abstract/mixins';

.top-bar,
%top-bar
{
    padding: 0.5%;
    background-color: variables.$blue;

    @include responsive('sm-phone'){
        font-size: variables.$base-font-size;
    }
}